.glowBlwe {
  background: radial-gradient(
    300px circle,
    rgba(96, 165, 250, 1) 0%,
    rgba(96, 165, 250, 0.65) 20%,
    rgba(96, 165, 250, 0.3) 40%,
    rgba(96, 165, 250, 0.08) 60%,
    rgba(96, 165, 250, 0.02) 75%,
    transparent 100%
  );
}

.glowPurple {
  background: radial-gradient(
    300px circle,
    rgba(192, 132, 252, 1) 0%,
    rgba(192, 132, 252, 0.65) 20%,
    rgba(192, 132, 252, 0.3) 40%,
    rgba(192, 132, 252, 0.08) 60%,
    rgba(192, 132, 252, 0.02) 75%,
    transparent 100%
  );
}

.glowTeal {
  background: radial-gradient(
    300px circle,
    rgba(52, 211, 153, 1) 0%,
    rgba(52, 211, 153, 0.65) 20%,
    rgba(52, 211, 153, 0.3) 40%,
    rgba(52, 211, 153, 0.08) 60%,
    rgba(52, 211, 153, 0.02) 75%,
    transparent 100%
  );
}
